<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div id="navbarsExampleDefault" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i> <span>Create Department</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/department/list}" role="button">
					<span class="oi oi-spreadsheet mr-2" title="List" aria-hidden="true"></span><span>Department List</span>
				</a>
			</div>
		</nav>

		<div id="cadastro" class="container">
			<div th:replace="fragments/alert"></div>

			<form th:action="${department.id == null} ? @{/department/save} : @{/department/update}" th:object="${department}"
				method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label id="name" for="name">Department</label> 
						<input type="text" class="form-control" placeholder="Department Name" autofocus="autofocus" th:field="*{name}" />
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Save</button>
			</form>
		</div>
	</section>
</body>
</html>